# https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 127

[*.{cpp,h,c,hpp}]
indent_style = space
indent_size = 4

[*.{f,f90,f95,for}]
indent_style = space
indent_size = 2

[*.{json,yml,yaml,toml}]
indent_style = space
indent_size = 2

[*.md]
# Trailing spaces are valid Markdown syntax (hard line break)
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
